############################################
# Python
############################################
__pycache__/
*.py[cod]
*$py.class

############################################
# Virtual Environment
############################################
venv/
.venv/
env/
ENV/

############################################
# Environment Variables
############################################
.env
.env.*
!.env.example

############################################
# Django
############################################
db.sqlite3
*.sqlite3

media/
staticfiles/

############################################
# Logs
############################################
*.log
logs/

############################################
# Pytest
############################################
.pytest_cache/
.coverage
htmlcov/

############################################
# Mypy
############################################
.mypy_cache/

############################################
# Ruff / Flake8
############################################
.ruff_cache/

############################################
# VS Code
############################################
.vscode/

############################################
# PyCharm
############################################
.idea/

############################################
# macOS
############################################
.DS_Store

############################################
# Windows
############################################
Thumbs.db
Desktop.ini

############################################
# Build Files
############################################
build/
dist/
*.egg-info/

############################################
# Node
############################################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

############################################
# React
############################################
frontend/dist/

############################################
# Cache
############################################
.cache/

############################################
# Django Migration Cache
############################################
**/migrations/__pycache__/

############################################
# Python Version
############################################
.python-version